@import './base.scss';

footer {
  background-color: black;
  color: $color-secondary;
  height: 209px;
}

.footer__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20%;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    gap: 10%;  // reduces the gap on smaller screens
  }
}

.footer__container__text {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 1.5em;
  margin-bottom: -20px;
  padding: 0%;

  @media screen and (max-width: 768px) {
    font-size: 1.2em;  // reduces the font size on smaller screens
    flex-direction: column;  // stacks the items vertically on smaller screens
  }
}

.footer__container__text h4 {
  margin: 0%;
}