@import './base.scss';

nav {
   color: $color-primary;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 86.111vw;
   height: 80px;
   position: relative;
   top: 0;
   left: 0;
   right: 0;
   margin: auto;
   margin-bottom: 4%;
}

.nav__ul {
   list-style-type: none;
   display: flex;
   justify-content: space-between;
   width: 24.919vw;

   @media screen and (max-width: 768px) {
      flex-direction: column;  // stack the links vertically
      align-items: center;  // center the links
      width: 100%;  // take up the full width of the nav bar
   }
}
.nav__ul__acceuil,
.nav__ul__about {
   color: $color-primary;
   text-decoration: none;
   font-size: 1.5em;

   @media screen and (max-width: 768px) {
      font-size: 1.2em;  // reduce the font size
   }
}

.nav__ul a {
   text-decoration: none;
   color: inherit;
}

.selected {
   border-bottom: 1px $color-primary solid;
}