@import './base.scss';

.home__banner {
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-bottom: 4%;
   position: relative;

   @media screen and (max-width: 768px) {
      height: 100px; // Adjust to your preferred height
      border-radius: 5px; // Add border-radius
   }
}

.home__banner__img {
   width: 86%;
   position: relative;
   border-radius: 5px; // Add border-radius

   @media screen and (max-width: 768px) {
      height: 100px;
   }
}

.home__banner img {
   object-fit: cover;
   height: 100%;
   width: 100%;
   border-radius: 5px; // Add border-radius

   @media screen and (max-width: 768px) {
      height: 100%;
      object-fit: cover;
   }
}

.home__banner__text__container {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 0 2rem;

   @media screen and (max-width: 768px) {
      justify-content: flex-start; // Align to the left on small screens
      text-align: left;
   }
}

.home__banner__text__container__h2 {
   color: $color-secondary;
   font-size: 2.5rem;
   word-wrap: break-word;

   .responsive-break {
      display: none;

      @media screen and (max-width: 768px) {
         display: block;
         content: "";
         width: 0;
         height: 0;
      }
   }

   @media screen and (max-width: 768px) {
      font-size: 1.4rem; // Reduce font size on small screens
      padding-left: 0.5rem;
   }
}





.home {
   display: grid;
   justify-items: center;
}
.home__gallery {
   width: 86%;
}

.home__gallery-grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   background-color: $color-collapse-txt-background;
   border-radius: 25px;
   padding-top: 2%;

   @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;  // one column on small screens
   }

   @media screen and (min-width: 769px) and (max-width: 1024px) {
      grid-template-columns: 1fr 1fr;  // two columns on medium screens
   }
}
.home__gallery-grid__img {
   width: 100%;
}

figure {
   background-color: $color-primary;
   color: $color-secondary;
   border-radius: 5px;
   position: relative;
   height: 85%;

}
figure img {
   border-radius: 5px;
   object-fit: cover;
   height: 100%;
   width: 100%;
}
figcaption {
   position: absolute;
   bottom: 5%;
   left: 5%;
   right: 0;
}
