@import './base.scss';

.home__banner {
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-bottom: 4%;
   position: relative; /* Ajouté pour permettre un positionnement absolu des enfants */
}

.home__banner__img {
   width: 86vw;
   position: relative;
}

.home__banner img {
   object-fit: cover;
   height: 100%;
   width: 100%;
}

.home__banner__text__container {
   position: absolute;  /* Positionnement absolu par rapport à .home__banner */
   top: 0;              /* Aligné avec le haut du conteneur */
   left: 0;             /* Aligné avec la gauche du conteneur */
   height: 100%;        /* Hauteur complète du conteneur */
   width: 100%;         /* Largeur complète du conteneur */
   display: flex;       /* Utiliser Flexbox */
   align-items: center; /* Centrer verticalement */
   justify-content: center; /* Centrer horizontalement */
   text-align: center;  /* Centrer le texte lui-même */
   padding-right: 0 2rem;     /* Ajouter un padding pour éviter que le texte ne touche les bords */
}

.home__banner__text__container__h2 {
   color: $color-secondary;
   font-size: 2.5rem;
   word-wrap: break-word; /* Si le texte est trop long, il passe à la ligne suivante */

   @media screen and (max-width: 768px) {
      font-size: 1rem; /* Réduire la taille de la police sur les petits écrans */
   }
}


.home {
   display: grid;
   justify-items: center;
}
.home__gallery {
   width: 86vw;
}

.home__gallery-grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   background-color: $color-collapse-txt-background;
   border-radius: 25px;
   padding-top: 2%;

   @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;  // one column on small screens
   }

   @media screen and (min-width: 769px) and (max-width: 1024px) {
      grid-template-columns: 1fr 1fr;  // two columns on medium screens
   }
}
.home__gallery-grid__img {
   width: 100%;
}

figure {
   background-color: $color-primary;
   color: $color-secondary;
   border-radius: 5px;
   position: relative;
   height: 85%;

}
figure img {
   border-radius: 5px;
   object-fit: cover;
   height: 100%;
   width: 100%;
}
figcaption {
   position: absolute;
   bottom: 5%;
   left: 5%;
   right: 0;
}
