@import './base.scss';

.logement {
   width: 100%;
   display: grid;
   justify-items: center;
   margin-bottom: 4%;
}
// Carousell
.logement__carousel {
   position: relative;
   height: 415px;
   width: 86%;
}
.logement__carousel__img {
   height: 100%;
   width: 100%;
   object-fit: cover;
   margin-left: auto;
   margin-right: auto;
   border-radius: 25px;
}

.arrow-left {
   position: absolute;
   left: 104px;
   transform: rotate(180deg);
   cursor: pointer;
   top: 50%;
   left: 1.5%;
}
.arrow-right {
   position: absolute;
   right: 20%;
   cursor: pointer;
   top: 50%;
   right: 1.5%;
}

@media (max-width: 768px) {
   .arrow-left,
   .arrow-right {
     // Changez les valeurs ci-dessous selon vos besoins
     width: 15px;
     height: 20px;
   }
 }
 

.logement__carousel__index {
   position: absolute;
   color: #fff;
   bottom: 1.5vh;
   left: 50%;
}
// end carousel start text
.logement__container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 86%;
   color: $color-primary;
   margin-top: 2%;
}

.logement__container__header {
   display: flex;
   flex-direction: column;
   width: 44.097%;
}
.logement__container__header__title h2 {
   font-size: 2.25%;
}
.logement__container__header__title h3 {
   font-size: 1.25%;
}

.logement__container__header__tags {
   display: flex;
   flex-direction: row;
   gap: 4%;
   padding: 0;
   width: 25.347%;
}
.logement__container__header__tags__li {
   list-style-type: none;
   background-color: $color-primary;
   border-radius: 10px;
   color: #fff;
   padding: 5px;
   padding-left: 8px;
   padding-right: 8px;
   font-size: 0.972%;
}

@media (max-width: 768px) {
   .logement__container__header__tags {
      
      align-items: center; // Center align tags
      gap: 2%; // Reduce gap between tags
   }
   .logement__container__header__tags__li {
      padding-left: 4px; // Reduce left padding
      padding-right: 4px; // Reduce right padding
   }
}


.logement__container__aside {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}
.logement__container__aside__profile {
   display: flex;
   flex-direction: row;
   height: 63px;
   // gap: 5%;
}
.logement__container__aside__profile__h3 {
   width: 6.4%;
   font-size: 18px;
}
.logement__container__aside__profile__h3 h3 {
   margin-top: 0;
}
.logement__container__aside__profile img {
   height: 100%;
}
.logement__container__aside__profile img {
   border-radius: 50%;
   width: 4.444%;
   height: 4.444%;
}
.logement__container__aside__star__container {
   list-style-type: none;
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 13.611%;
}
@media (max-width: 768px) { // This targets screens with a maximum width of 768 pixels
   .logement__container__aside__star__container {
     margin-right: auto; // This pushes the container to the left side
     width: auto; // You may need to adjust the width as well for mobile devices
   }
 }
 
 
.logement__container__aside__star__container li {
   display: flex;
   align-self: center;
}
@media (max-width: 768px) { // This targets screens with a maximum width of 768 pixels
   .logement__container__aside__star__container li {
     // You can change these values to whatever you need
     width: 10px;
     height: 10px;
   }
 }
 
.starActive {
   // height: 36px;
   object-fit: cover;
}
// .starActive img {
//       height: 36px;
//    object-fit: cover;
// }
.starDisabled {
   margin-right: 3%;
}
//end aside

// collapse
.logement__collapse {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 86%;
}
.logement__collapse__description {
   width: 40.417%;
}
.logement__collapse__equipement {
   width: 40.417%;
   display: flex;
   flex-direction: column;
}
.logement__collapse__equipement__ul {
   list-style-type: none;
}
