@import './base.scss';

.logement {
   width: 100%;
   display: grid;
   justify-items: center;
   margin-bottom: 4%;
}
// Carousell
.logement__carousel {
   position: relative;
   height: 415px;
   width: 86%;

   @media screen and (max-width: 768px) {
      
        height: 250px; /* Adjusted to fit mobile screens */
        width: 90%; /* Feel free to adjust this width as per the desired design on mobile */
      }
}
.logement__carousel__img {
   height: 100%;
   width: 100%;
   object-fit: cover;
   margin-left: auto;
   margin-right: auto;
   border-radius: 25px;
}

.arrow-left {
   position: absolute;
   left: 104px;
   transform: rotate(180deg);
   cursor: pointer;
   top: 50%;
   left: 1.5%;

   @media screen and (max-width: 768px) {
    
        top: 45%;
        width: 15px; /* Adjust the width as needed */
        height: 20px; /* Adjust the height as needed */
      
    }
}
.arrow-right {
   position: absolute;
   right: 20%;
   cursor: pointer;
   top: 50%;
   right: 1.5%;

   @media screen and (max-width: 768px) {
    
      top: 45%;
      width: 15px; /* Adjust the width as needed */
      height: 20px; /* Adjust the height as needed */
    
  }
}

.logement__carousel__index {
   position: absolute;
   color: #fff;
   bottom: 1.5vh;
   left: 50%;
}
// end carousel start text
.logement__container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 86%;
   color: $color-primary;
   margin-top: 2%;
}

.logement__container__header {
   display: flex;
   flex-direction: column;
   
}
.logement__container__header__title h2 {
   font-size: 2.25vw;
   margin-bottom: 0.5rem;
}
.logement__container__header__title h3 {
   font-size: 1.25vw;
   margin-top: 0;
}

.logement__container__header__tags {
   display: flex;
   flex-direction: row;
   gap: 1%;
   padding: 0;
   margin-top: 0;
  
}
.logement__container__header__tags__li {
   list-style-type: none;
   background-color: $color-primary;
   border-radius: 10px;
   color: #fff;
   padding: 5px;
   padding-left: 8px;
   padding-right: 8px;
   font-size: 0.972vw;
}

.logement__container__aside {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}
.logement__container__aside__profile {
   display: flex;
   flex-direction: row;
   height: 63px;
   // gap: 5%;
}
.logement__container__aside__profile__h3 {
   padding-right: 1rem;
   margin-right: 0;
   font-size: 18px;
}
.logement__container__aside__profile__h3 h3 {
   margin-top: 0;
}
.logement__container__aside__profile img {
   height: 100%;
}
.logement__container__aside__profile img {
   border-radius: 50%;
   width: 4.444vw;
   height: 4.444vw;
}
.logement__container__aside__star__container {
   list-style-type: none;
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 13.611vw;
}
.logement__container__aside__star__container li {
   display: flex;
   align-self: center;
}
.starActive {
   // height: 36px;
   object-fit: cover;
}
// .starActive img {
//       height: 36px;
//    object-fit: cover;
// }
.starDisabled {
   margin-right: 3%;
}
//end aside

// collapse
.logement__collapse {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 86vw;
}
.logement__collapse__description {
   width: 40.417vw;
}
.logement__collapse__equipement {
   width: 40.417vw;
   display: flex;
   flex-direction: column;
}
.logement__collapse__equipement__ul {
   list-style-type: none;
}


@media screen and (max-width: 768px) {
   .logement__container {
     flex-direction: column;
     align-items: center;
     width: 90%;
     margin-top: 1%;
   }
 
   .logement__container__header__title h2,
   .logement__container__header__title h3 {
     font-size: 4vw; // Increase the size for better readability on mobile
   }
 
   .logement__container__header__tags__li {
     font-size: 3vw; // Increase the size for better readability on mobile
   }
 
   .logement__container__aside {
     display: flex;
     flex-direction: initial;
   }
 
   .logement__container__aside__profile {
      flex-direction: row; // Switch back to row to have name and picture on the right
      justify-content: flex-end; // Align items to the right
      gap: 0.5rem;
    }
 
    .logement__container__aside__profile__h3 {
      padding-right: 0;
      font-size: 3.5vw;
      text-align: right; // Align text to the right
    }
 
    .logement__container__aside__profile img {
      width: 15vw; // Adjust the size for mobile
      height: 15vw;
    }
 
    .logement__container__aside__star__container {
      justify-content: flex-start; // Align stars to the left
      width: auto;
    }
 
    .logement__collapse {
      flex-direction: column;
      align-items: center;
      width: 90%; // Adjust the width for mobile
      gap: 1rem;
    }
 
   .logement__collapse__description,
   .logement__collapse__equipement {
     width: 90vw; // Adjust the width for mobile
   }

   
 }
 